<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <center>Videos</center>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Videos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
    <ion-card-subtitle> </ion-card-subtitle>
    <ion-card-title><center>Entrevista con Barizzimo</center></ion-card-title>
    </ion-card-header>
    <h1> <center><iframe width="350" height="200" src="https://www.youtube.com/embed/hmpCdmosbE8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center></h1>
    <ion-card-content>   </ion-card-content>
    </ion-card>

   <ion-card>
      <ion-card-header>
 <ion-card-subtitle> </ion-card-subtitle>
  <ion-card-title><center>Barizzimo en SHARK TANK</center></ion-card-title>
  </ion-card-header>
  <center><h1><iframe width="350" height="200" src="https://www.youtube.com/embed/sMIJy9JCiXg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> </h1></center>
  <ion-card-content> </ion-card-content>
  </ion-card>

</ion-content>

  
  